<div class="login-container">
    <div class="fc la-c-c f-h-100">
        <div class="login-wrapper">
            <div class="fc la-c-c m-tb-2">
                <mat-icon svgIcon="logo" class="logo-lg"></mat-icon>
            </div>
            <mat-card class="login-card f-100">
                <mat-card-content>
                    <div class="fc la-s-str">

                        <h2 class="align-c ft-wt-m m0">Reset Password</h2>
                        <form class="p-tb-05 fc la-c-str" autocomplete="off" [formGroup]="fg" (ngSubmit)="submit(fg)">


                            <mat-form-field appearance="outline" class="input-pre-icon">
                                <mat-label>Password</mat-label>
                                <mat-icon matPrefix>lock</mat-icon>

                                <input matInput [(ngModel)]="forgotPasswordModel.NewPassword" formControlName="NewPasswordCtrl" [type]="hide ? 'password' : 'text'" placeholder="Password">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"><mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>

                                <mat-error *ngIf="fg.get('NewPasswordCtrl')?.hasError('required')">Password is required</mat-error>
                                <mat-error *ngIf="fg.get('NewPasswordCtrl')?.hasError('pattern')">Invalid pattern</mat-error>
                                <mat-error *ngIf="fg.get('NewPasswordCtrl')?.errors?.serverError">{{fg.get('NewPasswordCtrl')?.errors?.serverError}}</mat-error>
                            </mat-form-field>


                            <mat-form-field appearance="outline" class="input-pre-icon">
                                <mat-label>Re-Enter New Password</mat-label>
                                <mat-icon matPrefix>lock</mat-icon>
                                <input matInput [(ngModel)]="forgotPasswordModel.ConfirmNewPassword" formControlName="ConfirmNewPasswordCtrl" [type]="hide1 ? 'password' : 'text'" placeholder="Re-Enter New Password">
                                <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1"><mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon></button>

                                <mat-error *ngIf="fg.get('ConfirmNewPasswordCtrl')?.hasError('required')">New passowrd is required</mat-error>
                                <mat-error *ngIf="fg.get('ConfirmNewPasswordCtrl')?.hasError('pattern')">
                                    Invalid Pattern. Password should be between 6-20 characters; must contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character.
                                </mat-error>
                                <mat-error *ngIf="(fg.get('ConfirmNewPasswordCtrl')?.dirty || fg.get('ConfirmNewPasswordCtrl')?.touched)">Passwords don't match.</mat-error>
                            </mat-form-field>

                            <button type="submit" mat-raised-button color="primary" class="button-lg ft-wt-b m-t-1">
                                <ng-container [ngSwitch]="isSubmitted"><div *ngSwitchCase="true" class="submitted fr la-c-c"><div class="loader"></div></div><div *ngSwitchDefault>SUBMIT</div></ng-container>
                              </button>
                        </form>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>