<div class="login-container">
    <div class="fc la-c-c f-h-100">
        <div class="login-wrapper">
            <div class="fc la-c-c m-tb-2">
                <mat-icon svgIcon="logo" class="logo-lg"></mat-icon>
            </div>
            <mat-card class="login-card f-100">
                <mat-card-content>
                    <div class="fc la-s-str">
                        <ng-template #forgotPasswordForm [ngIf]="!isEmailSent" [ngIfElse]="msgDisplay">
                            <h2 class="align-c ft-wt-m m0">FORGOT PASSWORD</h2>
                            <form class="p-tb-05 fc la-c-str" autocomplete="off" [formGroup]="fg" (ngSubmit)="authenticate(fg)">


                                <mat-form-field appearance="outline" class="input-pre-icon">
                                    <mat-label>Email Address</mat-label>
                                    <mat-icon matPrefix fontSet="material-icons-outlined">email</mat-icon>
                                    <input matInput [(ngModel)]="cred.EmailAddress" formControlName="EmailCtrl" type="email" placeholder="Email Address">
                                    <mat-error *ngIf="fg.get('EmailCtrl')?.hasError('required')">Email address is required</mat-error>
                                    <mat-error *ngIf="fg.get('EmailCtrl')?.hasError('email')">Invalid email address</mat-error>
                                    <mat-error *ngIf="fg.get('EmailCtrl')?.errors?.serverError">{{fg.get('EmailCtrl')?.errors?.serverError}}</mat-error>
                                </mat-form-field>

                                <button type="submit" mat-raised-button color="primary" class="button-lg ft-wt-b m-t-1">
                  <ng-container [ngSwitch]="isSubmitted">
                    <div *ngSwitchCase="true" class="submitted fr la-c-c">
                      <div class="loader"></div>
                    </div>
                    <div *ngSwitchDefault>SEND</div>
                  </ng-container>
                </button>


                            </form>
                        </ng-template>
                        <ng-template #msgDisplay>
                            <div class="success-message fc la-c-c align-c">
                                <h2><b>RESET PASSWORD</b></h2>
                                <span>We have sent password link to your email address. Please check your email.</span>
                            </div>
                        </ng-template>

                        <div class="fc la-s-str p-tb-05">
                            <a type="button" mat-button class="btn-anchor" [routerLink]="['/login']">
                                <mat-icon>chevron_left</mat-icon>
                                Back to login</a>

                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>